<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Public Key</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="../static/add.css">
</head>

<body>
    <div class="container">
        <div class="demo-flex-spacer"></div>
        <div class="webflow-style-input">
            <input type="title" placeholder="Title..." name="title"></input>
        </div>
        <br>
        <div class="webflow-style-input">
            <input class="" type="email" placeholder="Your Public Key"></input>
            <button type="paste" class="paste-btn">
                <ion-icon name="clipboard-outline"></ion-icon>
            </button>
        </div>
        <br>
        <a href="#" class='btn'>Submit</a>


        <div class="demo-flex-spacer"></div>
        <h1 class="demo">Publick Key Share</h1>
        <a class="demo" href="https://aayush9029.github.io/FinalWebpage/"
            title="Webflow CMS">https://aayush9029.github.io/Pubkey</a>
    </div>
</body>

<script>
window.onload = function () {
    let btn = document.querySelector('.btn');
    btn.addEventListener('click', function () {
        btn.classList.add("btn-progress");
        // add class to btn
        setTimeout(function () {
            btn.classList.add("btn-fill");
        }, 500);

        setTimeout(function () {
            btn.classList.remove("btn-fill");
        }, 4100);

        setTimeout(function () {
            btn.classList.add("btn-complete");
        }, 4100);
    })
}



</script>

</html>